/* font-family: 'Poppins', sans-serif; */

.topnav{
    display: flex;
    background-color: #1f2833;
    box-shadow: 0px 0px 30px gray;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    color: white;
}
.topnav img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    padding: 2px;
    border: 1px solid white;
    border-radius: 50px;
}
.topnav p{
    font-size: 25px;
}